<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" src="nos_1.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Андрей Олегович Нос.</h1>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="second-slide" src="nos_2.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Справедливая Партия Большой Страны.</h1>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="third-slide" src="nos_3.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>ГОЛОСУЙ ЗА СПРАВЕДЛИВУЮ ПАРТИЮ - ВЫБИРАЙ СПРАВЕДЛИВУЮ СТРАНУ!</h1>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Андрей Олегович Нос родился 15 июня 1975 года в крупном городе Приволжья − Нижнем Новгороде. <span class="text-muted">Его отец преподаёт физику в родном МБОУ «Лицей № 40», а мать− врач-терапевт.</span></h2>
      <p class="lead">С самого детства наш кандидат имел активную жизненную позицию: занимался спортом (лёгкая атлетика), был старостой класса, принимал участие в конкурсах и олимпиадах.
        После школы поступил на бюджет в НИУ «Московский государственный строительный университет», который закончил в 1991 году с красным дипломом. Уже со следующего года начал работу по специальности - инженер-проектировщик.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="cand_1.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Во время многочисленных командировок Андрей Олегович регулярно сталкивался с полнейшим несоблюдением норм безопасности, аварийной ветхостью жилых помещений и производственных объектов, банальным нарушением законов. <span class="text-muted">Именно поэтому в 1993 году Андрей Нос вступает в «Профсоюз работников строительства и промышленности строительных материалов Большой Страны».</span></h2>
      <p class="lead">В 1996 году Наш Справедливый Кандидат получает повышение и становится Заместителем Председателя Нижегородской областной организации Профсоюза.
Оценив амбициозность, профессионализм и настойчивость своего представителя в Нижнем Новгороде, головной офис Профсоюза приглашает Андрея Олеговича на работу в Москве.
Вместе с семьёй Наш Кандидат переезжает в Столицу Большой Страны.
Начал активно участвовать в жизни своего микрорайона, его благоустройстве.
Проработав несколько лет в московском профсоюзе, Нос понимает, что ему не хватает фундаментальных знаний о политической сфере общество. Этот пробел он заполняет получением второго высшего образования по специальности политология. Для этого Андрей Олегович выбирает «главный» ВУЗ страны − МГУ им.Ломоносова.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="cand_2.jpg" alt="Generic placeholder image">
      <hr class="featurette-divider">
      <img class="featurette-image img-fluid mx-auto" src="cand_3.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">В 2009 году вступает в партию« Справедливая Партия Большой Страны». <span class="text-muted">Проявляет себя как активный член, трудолюбивый работник и отзывчивый человек.</span></h2>
      <p class="lead">Именно поэтому в 2012 году Андрей Олегович Нос становится муниципальным депутатом своего Кунцевского округа. В 2017 году истёк срок его полномочий.
В связи со своей специальностью организовал проект «Добрострой», куда каждый мог бы передать фотографии и видео жилых домов и предприятий, находящихся в ветхом и аварийном состоянии, для организации разбирательства с местными властями/собственником.
В 2018 году выдвинут партией «Справедливая Партия Большой Страны» кандидатом в Президенты Большой Страны.
Андрей Олегович − семьянин. Есть супруга и 2 ребёнка.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="cand_4.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <h1>ДЕКЛАРАЦИЯ ОБ ИМУЩЕСТВЕННОМ СОСТОЯНИИ И ДОХОДАХ<h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Члены семьи</th>
        <th scope="col">Имущество</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Андрей Олегович Нос</td>
        <td>2-комнатная квартира 105 кВ м , BMW 4-Series 2015 года</td>
      </tr>
      <tr>
        <td>Жена Андрея Олеговича Носа</td>
        <td>частный дом в Н.Новгороде 150 кВ м, земельный участок 1200 кВ м , AUDI A6 2014 года</td>
      </tr>
      <tr>
        <td>Дети Андрея Олеговича Носа</td>
        <td>Несовершеннолетние</td>
      </tr>
    </tbody>
  </table>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
