<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Контакты</h1>
  <p class="lead">Вы можете связаться с нами любым удобным для Вас способом. Мы всегда будем рады Вашим обращениям.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Адрес</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title mt-4">г. Москва</h1>
        <ul class="list-unstyled mt-5 mb-4">
          <li>ул. Остоженка</li>
          <li>д. 38</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Телефоны</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li><h2 class="card-title pricing-card-title mt-4">8-999-826-13-05</h2></li>
          <li><h2 class="card-title pricing-card-title mt-5">8-916-303-07-62</h2></li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">E-mail</h4>
      </div>
      <div class="card-body">
        <a href="mailto:spbs.rus@yandex.ru">
          <h1 class="card-title pricing-card-title mt-5">spbs.rus@yandex.ru</h1>
        </a>
      </div>
    </div>
  </div>
</div>