<div class="container marketing">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">СПБС. <span class="text-muted">Справедливая партия большой страны.</span></h2>
      <p class="lead">ГОЛОСУЙ ЗА СПРАВЕДЛИВУЮ ПАРТИЮ - ВЫБИРАЙ СПРАВЕДЛИВУЮ СТРАНУ!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="logo.jpg" alt="Big logo">
    </div>
  </div>

  <hr class="featurette-divider">
</div>
